@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&display=swap");
:root {
  --main-font: "Inconsolata", monospace;
}
body {
  background-color: rgb(0, 0, 0);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.section-one {
  width: 100%;
  min-height: 100vh;
  // border: 1px rgb(255, 0, 0) solid;

  header {
    width: 100%;
    height: 10vh;
    border: red 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 150px;
      padding-left: 10px;
      cursor: pointer;
    }
    nav {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      ul {
        display: flex;

        li {
          list-style: none;
          padding-right: 10px;

          .active {
            color: #82c442;
          }
          a {
            text-decoration: none;
            font-family: var(--main-font);
            color: white;
            transition: all 0.3s ease;

            &:hover {
              color: #82c442;
            }
          }
        }
      }
    }
    .sub-nav {
      display: flex;
      width: 100px;
      padding-right: 10px;
      img {
        filter: invert(1);
        transition: all 0.3s ease;

        &:hover {
          opacity: 0.7;
          filter: drop-shadow(0px 1px 9px 0px #82c442);
        }
      }
    }
  }

  .main-content{

  }
}
